#Nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

#Nav > button {
  width: 80px;
  height: 45px;
  border-radius: 10px;
  border: solid black 2px;
  background-color: #FFCAA1;
  font-size: 15px;
  font-weight: 700;
}

#Nav > button:hover {
  cursor: pointer;
}