#Select {
  margin-top: 10px;
  padding: 0px 6px 0px 6px;
}

.option {
  margin-bottom: 8px;
  width: auto;
  display: flex;
  align-items: center;
}

.option:hover {
  cursor: default;
}

.option > div {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  border: solid black 1.5px;
  background-color: #FFFFFF;
}

.option > div:hover {
  cursor: pointer;
}

.option > input {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  border: solid black 1.5px;
}

.option > input:focus {
  outline: none;
}
